<div class="container">
 <div class="category-wrapper">
  <h3 class="category-title">კატეგორიები</h3>
  
  <div class="category-list-centered">
    <button class="cat-btn" 
            [class.active]="filters.categoryId === 0" 
            (click)="selectCategory(0)">
      ყველა
    </button>
    
    <button *ngFor="let cat of categories" 
            class="cat-btn"
            [class.active]="filters.categoryId === cat.id"
            (click)="selectCategory(cat.id)">
      {{ cat.name }}
    </button>
  </div>
</div>

  <div class="top-bar">
    <div class="search-box" id="products-section">
      <input type="text" [(ngModel)]="filters.search" (input)="applyFilters()" placeholder="მოძებნე პროდუქტი...">
    </div>
    
    <div class="sort-box">
      <select [(ngModel)]="filters.sort" (change)="applyFilters()">
        <option value="name">სახელით (A-Z)</option>
        <option value="priceAsc">ფასი: ზრდადობით</option>
        <option value="priceDesc">ფასი: კლებადობით</option>
      </select>
    </div>
  </div>

  <div class="main-layout">
    <aside class="sidebar">
      <h3>ფასის ფილტრი</h3>
      <div class="price-inputs">
        <input type="number" [(ngModel)]="filters.minPrice" placeholder="Min ₾">
        <input type="number" [(ngModel)]="filters.maxPrice" placeholder="Max ₾">
      </div>
      <button class="apply-btn" (click)="applyFilters()">გაფილტვრა</button>
      <button class="reset-btn" (click)="reset()">გასუფთავება</button>
    </aside>

<section class="products-grid" >
  
  <div class="product-card" 
       *ngFor="let item of products" 
       [routerLink]="['/product-details', item.id]" 
       style="cursor: pointer;">

    <div class="badge" *ngIf="item.currentPrice < item.price">SALE</div>
    
    <div class="image-wrapper">
      <img [src]="item.pictureUrl || 'https://placehold.co/400x400?text=' + item.name" [alt]="item.name">
    </div>
    
    <div class="product-info">
      <span class="cat-name">{{item.categoryName}}</span>
      
      <h4 class="product-title">{{item.name}}</h4>
      
      <p class="product-description">{{item.description}}</p>
      
      <div class="price-row">
        <div class="price-container">
          <span class="price">{{item.currentPrice}} ₾</span>
          <span class="old-price" *ngIf="item.currentPrice < item.price">{{item.price}} ₾</span>
        </div>
      </div>
      
      <button class="add-to-cart" (click)="$event.stopPropagation(); addtoCart(item)">
      🛒 კალათაში
    </button>

      <div *ngIf="isLowStock(item.id)" class="low-stock-badge">
        Expires
      </div>
    </div>
  </div>

  <div class="no-results" *ngIf="products.length === 0">
    <div class="no-results-content">
      <p>პროდუქტები ვერ მოიძებნა.</p>
    </div>
  </div>
</section>

  </div>

 <div class="pagination-container d-flex justify-content-center mt-5 mb-4" *ngIf="totalPages > 1">
  <nav aria-label="Product pagination">
    <ul class="pagination pagination-modern">
      
      <li class="page-item" [class.disabled]="filters.pageIndex === 1">
        <button class="page-link" (click)="changePage(filters.pageIndex - 1)" [disabled]="filters.pageIndex === 1">
          <i class="bi bi-chevron-left"></i>
        </button>
      </li>

      <ng-container *ngFor="let p of [].constructor(totalPages); let i = index">
        <li class="page-item" 
            *ngIf="shouldShowPage(i + 1)"
            [class.active]="filters.pageIndex === (i + 1)">
          <button class="page-link" (click)="changePage(i + 1)">
            {{ i + 1 }}
          </button>
        </li>
        
        <li class="page-item disabled" *ngIf="showDots(i + 1)">
          <span class="page-link border-0 bg-transparent">...</span>
        </li>
      </ng-container>

      <li class="page-item" [class.disabled]="filters.pageIndex === totalPages">
        <button class="page-link" (click)="changePage(filters.pageIndex + 1)" [disabled]="filters.pageIndex === totalPages">
          <i class="bi bi-chevron-right"></i>
        </button>
      </li>

    </ul>
  </nav>
</div>

</div>


<div class="toast-container" 
     *ngIf="showToast" 
     (click)="currentToastImage ? goToCart() : router.navigate(['/login'])" 
     [style.cursor]="'pointer'">
     
  <div class="toast-content">
    <div class="toast-image-wrapper" *ngIf="currentToastImage">
      <img [src]="currentToastImage" alt="product">
      <div class="mini-check">✓</div>
    </div>
    
    <div class="error-icon" *ngIf="!currentToastImage" style="font-size: 22px;">
      ⚠️
    </div>

    <div class="message-text">
      <p class="toast-product-info">{{ toastMessage }}</p>
      
      <span class="added-label" *ngIf="currentToastImage">
        კალათაშია (გადადი ნახვაზე)
      </span>
      
      <span class="added-label" 
      *ngIf="!currentToastImage && toastMessage.includes('ავტორიზაცია')" 
      (click)="router.navigate(['/login'])" 
      style="color: #3498db; text-decoration: underline; cursor: pointer;">
    გაიარე ავტორიზაცია
</span>
    </div>
  </div>
  
  <div class="progress-bar" [style.background-color]="currentToastImage ? '#2ecc71' : '#e74c3c'"></div>
</div>
